<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Danger</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="col-md-4 offset-md-4">
				<h3 class="text-danger text-center">Danger</h3>
				<p>Hmm.. Message 15 doesn't belong to you.</p>
				<p>Are you trying to hack my site???</p>
				<p>Your ip address 192.135.12.2 has been recorded</p>
				<p>Next time you attempt an activity like this we'll log you off automatically and report your ip address to our site administrator</p>
			</div>
		</div>
	</body>
</html>